*{
    margin:0;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div{
    border: 1px solid black;
}

h1{
    padding: 30px; ;
    background-color: #1efbff;
}


p{
    margin: 20px;
}