*{
    margin: 0;
    padding: 0;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.service-card{
    margin: 20px;
    width: 300px;
    border: 2px solid #1eff29;
    border-radius: 10px;
}

section{
    margin: 20px 20px;
}

