*{
    margin: 0;
    padding: 0;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f8f6;
}

.boc{
    border: 250px 400px;
}
.expert{
    width: 250px ;
    height: auto ;
    padding: 15px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: inline-block;
}

.highlight{
    color:#1eceff;
    margin: 10px;
}
p{
    font-size: 13px;
}
